.imageContainer {
  border: 1px solid black;
  padding: 10px 10px 0;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  position: relative;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
  align-items: center;
  grid-gap: 10px;
  text-align: center;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.gallery img {
  max-width: 100%;
  width: 100%;
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.ratingContainer {
  position: absolute;
  right: -2500px;
  display: flex;
  align-items: center;
}

.showItemsHover {
  right: 0;
    overflow-x: visible;
    opacity: 1;
    -webkit-animation: fadeInRight 0.2s;
    animation: fadeInRight 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.86);
    height: 24px;
    padding: 5px 20px;
}
