.imageContainer {
  border: 1px solid black;
  padding: 10px 10px 0;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  margin: 20px;
  align-items: center;
  grid-gap: 10px;
  text-align: center;
  padding: 20px;
}

.gallery img {
  max-width: 100%;
  width: 100%;
}
